In [73]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [74]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

In [75]:
print(f'{type(account)} {type(name)} {type(balance)}')

<class 'str'> <class 'str'> <class 'str'>

In [76]:
accounts = open('accounts.txt', 'r')

In [77]:
temp_file = open('temp_file.txt', 'w')

In [78]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split() 
        if account != '100':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Smith', balance])
            temp_file.write(new_record + '\n')

In [79]:
import os

In [80]:
os.remove('accounts.txt')

In [81]:
os.rename('temp_file.txt', 'accounts.txt')

In [82]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Smith          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62