In [13]:
import pandas as pd

In [2]:
import csv

In [10]:
with open('accounts.csv', mode = 'w', newline = '') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stones', -42.16])
    writer.writerow([500, 'Jones', 224.62])

In [12]:
with open('accounts.csv', 'r', newline = '') as accounts:
    print(f'{"Account":<10}{"Name":<8}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<8}{balance:>10}')

Account   Name       Balance
100       Jones        24.98
200       Doe         345.67
300       White          0.0
400       Stones      -42.16
500       Jones       224.62

In [14]:
df = pd.read_csv('accounts.csv', names = ['account', 'name', 'balance'])

In [15]:
df

   account    name  balance
0      100   Jones    24.98
1      200     Doe   345.67
2      300   White     0.00
3      400  Stones   -42.16
4      500   Jones   224.62

In [44]:
with open('listings.csv', mode = 'w', newline = '') as listings:
    writer = csv.writer(listings)
    writer.writerow(['1STJANATAFM'])
    writer.writerow(['ABBANK'])
    writer.writerow(['NCCBANK'])

In [93]:
stock_names = list()

In [94]:
with open('listings.csv', 'r', newline = '') as listings:
    reader = csv.reader(listings)
    for stock in reader:
        stock_names.extend(stock)

In [96]:
stock_names

['1STJANATAFM', 'ABBANK', 'NCCBANK']