In [7]:
from bs4 import BeautifulSoup

In [8]:
import requests

In [9]:
import numpy as np

In [31]:
import csv

In [10]:
import pandas as pd

In [11]:
html_text = requests.get('https://www.dsebd.org/latest_share_price_scroll_l.php').text

In [12]:
soup = BeautifulSoup(html_text, 'lxml')

In [13]:
stocks_table = soup.find('div', class_ = 'table-responsive inner-scroll' )

In [14]:
stocks = stocks_table.find_all('tr')

In [15]:
counter = 1
for stock in stocks:
    counter += 1
print(counter)

385

In [16]:
stocks_data_list = []
loop_counter = 0
for stock in stocks:    
    
    stock_data = stock.find_all('td')
    
    stock_data_list = []
    nested_loop_counter = 0
    
    for data in stock_data:
            
        if 1 < nested_loop_counter < 8 :
            stock_data_list += [float(data.text.replace('--' , '0').replace(',',''))]
            
        elif nested_loop_counter == 1:
            stock_name = data.find('a')
            stock_data_list += [stock_name.text.strip()]
            
        elif nested_loop_counter == 8:
            stock_data_list += [int(data.text.replace(',','').replace('--', '0'))]
            
        elif nested_loop_counter == 9:
            stock_data_list += [float(data.text.replace(',','').replace('--','0'))]
                
        elif nested_loop_counter == 10:
            volume = int(data.text.replace(',',''))
            stock_data_list += [volume]
                
        nested_loop_counter += 1
        
    stocks_data_list.append(stock_data_list)

In [17]:
del stocks_data_list[0]

In [18]:
stocks_data_headings = stocks[0].find_all('th')

In [19]:
stocks_data_headings

[<th width="4%">#</th>,
 <th width="12%">TRADING CODE</th>,
 <th width="12%">LTP*</th>,
 <th width="12%">HIGH</th>,
 <th width="12%">LOW</th>,
 <th width="12%">CLOSEP*</th>,
 <th width="12%">YCP*</th>,
 <th width="12%">CHANGE</th>,
 <th width="12%">TRADE</th>,
 <th width="12%">VALUE (mn)</th>,
 <th width="12%">VOLUME</th>]

In [20]:
loop_counter_headings = 0
stocks_headings_list = []
for heading in stocks_data_headings:
    
    if loop_counter_headings > 0:
        stocks_headings_list += [heading.text]
        
    loop_counter_headings += 1

In [21]:
stocks_headings_list

['TRADING CODE',
 'LTP*',
 'HIGH',
 'LOW',
 'CLOSEP*',
 'YCP*',
 'CHANGE',
 'TRADE',
 'VALUE (mn)',
 'VOLUME']

In [22]:
nested_loop_counter

11

In [23]:
len(stocks_data_list)

383

In [24]:
df_stocks_data = pd.DataFrame(stocks_data_list, columns = stocks_headings_list)

In [25]:
df_stocks_data

,TRADING CODE,LTP*,HIGH,LOW,CLOSEP*,YCP*,CHANGE,TRADE,VALUE (mn),VOLUME
0,1JANATAMF,6.6,6.7,6.3,6.6,6.5,0.1,285,16.268,2498152
1,1STPRIMFMF,20.3,20.4,19.9,20.3,19.8,0.5,119,3.856,191222
2,AAMRANET,45.5,46.2,45.3,45.5,45.7,-0.2,380,10.228,223931
3,AAMRATECH,31.6,32.8,31.4,31.6,31.9,-0.3,679,33.768,1053813
4,ABB1STMF,5.7,5.8,5.7,5.7,5.7,0.0,63,1.087,190444
...,...,...,...,...,...,...,...,...,...,...
378,WMSHIPYARD,13.8,14.3,13.6,13.8,13.5,0.3,1404,54.207,3873168
379,YPL,14.3,14.4,13.3,14.3,13.5,0.8,725,17.905,1262565
380,ZAHEENSPIN,9.1,9.3,9.1,9.1,9.1,0.0,149,4.428,482337
381,ZAHINTEX,8.0,8.1,7.9,8.0,7.9,0.1,108,1.635,204400
382,ZEALBANGLA,117.0,121.0,114.9,117.8,115.0,2.0,114,1.142,9822

In [26]:
df_stocks_data.loc[:, ['TRADING CODE','LTP*','HIGH']].head()

  TRADING CODE  LTP*  HIGH
0    1JANATAMF   6.6   6.7
1   1STPRIMFMF  20.3  20.4
2     AAMRANET  45.5  46.2
3    AAMRATECH  31.6  32.8
4     ABB1STMF   5.7   5.8

In [70]:
disclosures = open('corporate_disclosures.csv', 'r')
wrangle_disclosures = open('disclosures_wrangled.csv', 'w')
listings = open(listings)

with disclosures, disclosures_wrangled:
    read_disclosure = csv.reader(disclosures)
    write_disclosure = csv.writer(wrangle_disclosures)
    write_listing = csv.writer(listings)
    
    for record in disclosures:
        if '-' in record or 'n/a' in record:
            continue
        else:
            t_code, trading_price, sector, market_category, dividend, quarterly_eps, annual_eps, NAVPS, audit_year = record
        
        write_listing.writerow([t_code])

In [71]:
counter

279

In [72]:
a, b = [10, 12]

In [73]:
a

10

In [74]:
b

12

In [27]:
stocks[1].find_all('td')

[<td width="4%">1</td>,
 <td width="15%">
 <a class="ab1" href="displayCompany.php?name=1JANATAMF">
 													1JANATAMF												</a>
 </td>,
 <td width="10%">6.6</td>,
 <td width="10%">6.7</td>,
 <td width="12%">6.3</td>,
 <td width="11%">6.6</td>,
 <td width="12%">6.5</td>,
 <td style="color: green" width="12%">0.1</td>,
 <td width="11%">285</td>,
 <td width="11%">16.268</td>,
 <td width="11%">2,498,152</td>]

In [20]:
stock_one

[<td width="4%">1</td>,
 <td width="15%">
 <a class="ab1" href="displayCompany.php?name=1JANATAMF">
 													1JANATAMF												</a>
 </td>,
 <td width="10%">6.6</td>,
 <td width="10%">6.7</td>,
 <td width="12%">6.3</td>,
 <td width="11%">6.6</td>,
 <td width="12%">6.5</td>,
 <td style="color: green" width="12%">0.1</td>,
 <td width="11%">285</td>,
 <td width="11%">16.268</td>,
 <td width="11%">2,498,152</td>]